@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: antiquewhite;
  font-family: Inter, "Times New Roman", Times, serif;
}
